
<footer class="site-footer my-mar mt-md-3 p-4 ">
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <div>
          <h6>About</h6>
          <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda inventore illum cumque cum, veritatis beatae temporibus aliquam fuga fugiat vel rerum, odit quaerat alias cupiditate! Sapiente ea aliquam cumque!
          </p>
  
  
  
        </div>
  
  
  
  
        <div class="mx-5">
          <h6>More</h6>
          <ul class="footer-links ">
            <li><a routerLink="alumni">About</a></li>
            <li><a routerLink="employer">Login</a></li>
            <li><a routerLink="faculty">Register</a></li>
            <li><a routerLink="admin">Career</a></li>
            <!-- <li><a routerLink="">Android</a></li>
            <li><a routerLink=" ">Templates</a></li> -->
          </ul>
  
  
        </div>
  
  
  
  
  
  
        <div>
  
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/alumnilogin">Events</a></li>
            <li><a routerLink="/alumni">Enterprise</a></li>
          </ul>
  
  
        </div>
  
      </div>
      <hr>
  
      <div class="container ">
        <div class="row ">
          <div class="col-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
              <a href="https://github.com/Vaisakh174/Main-Project-alumni-Job-Portel.git">Vaisakh vs.</a>
            </p>
          </div>
  
  
        </div>
      </div>
  
    </div>
  </footer>